<settings>
  <profiles>
    <profile>
      <id>travis-build</id>
      <properties>
        <protoc.exec>${env.TRAVIS_BUILD_DIR}/ci/protoc</protoc.exec>
      </properties>
    </profile>
  </profiles>
 
  <activeProfiles>
    <activeProfile>travis-build</activeProfile>
  </activeProfiles>
</settings>
